{% extends "base.html" %}
{% block content %}
    <h1>Signup</h1>

    <form action="/welcome" method="POST">
        <label>Username: </label>
            <input name="username" type="text" {% if username %}value="{{username}}"{% endif %} />
            {% if nameerror %}
            <span class="error">{{nameerror}}</span>
            {% endif %}
    <br>
        <label>Password: </label>
            <input name="password" type="password"/>    
            {% if pwerror %}
            <span class="error">{{pwerror}}</span>
            {% endif %}
    <br>
        <label>Verify Password: </label>
            <input name="password2" type="password"/>  
    <br>
        <label>Email (optional): </label>
            <input name="email" type="text" {% if email %}value="{{email}}" {% endif %}>
            {% if emailerror %}      
            <span class="error">{{emailerror}}</span>
            {% endif %}
    <br>
       <input type="submit" value="Submit" />
    </form>

{% endblock %}